# Java
**/*.class
**/*.jar

# Maven
**/target/

# Eclipse
**/.settings/*
**/.classpath
**/.project
**/.factorypath
**/bin

#IntelliJ
**/.idea
**/*.iml

# vscode files
workspace.code-workspace
**/.vscode/*

# OS X
**/.DS_Store

# Readme
**/README.md

