# Java
**/*.class
**/*.jar

# Maven
**/target/

# Eclipse
**/.settings/*
**/.classpath
**/.project
**/.factorypath
**/bin

# vscode files
workspace.code-workspace
**/.vscode/*

# OS X
**/.DS_Store