<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
</head>

<body>
    <table border="1">
        <tr>
            <td>
                Old Password
            </td>
            <td style=" padding-left:5em">

            </td>
        </tr>
        <tr>
            <td>
                New Password
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                Confirm New Password
            </td>
            <td>
            </td>
        </tr>

</body>

</html>