<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script src="../static/js/changePassword.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>Change Password</title>
</head>

<body>
    <div class="container">
        <div class="sub-head col-sm-6">
            <h2>Change Password</h2>
            <br>
        </div>
        <form class="form-gorup" th:action="@{/change-password}" method="post">
            <div th:if="${Error != null}">
                <div class="alert alert-danger" th:text="${Error}">
                </div>
            </div>
            <div th:if="${Success != null}">
              <div class="alert alert-success" th:text="${Success}">
              </div>
          </div>
            <div class="form-group col-sm-6">
              <label for="OldPassword">Old Password</label>
              <input type="password" class="form-control col-sm-6" id="oldPassword" placeholder="">
            </div>
            <div class="form-group col-sm-6">
                <label for="newPassword">New Password</label>
                <input type="password"  class="form-control col-sm-6" id="newPassword" placeholder="" onkeyup='check();'>
              </div>
              <div class="form-group col-sm-6">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input type="password" class="form-control col-sm-6" id="confirmNewPassword" placeholder="" onkeyup='check();'>
              </div>
              <span id='message'></span>
              <br>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>
    </div>

</body>

</html>