<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <form th:action="@{/donee-register}" th:object="${doneeRegisterRequest}" method="POST">
            <div th:if="*{success != null}">
                <div th:if="*{success}" class="alert alert-success">
                    Registered Successful!
                </div>
                <div th:if="*{!success}">
                    <div class="alert alert-danger" th:text="*{error.getMessage()}">
                        Error
                    </div>
                </div>
            </div>
            <div class="container my-auto">
                <h1>Create an account.</h1>
            </div>
            <div class="form-group col-sm-6">
                <label for="name"><br> Full Name</label>
                <input type="text" class="form-control" th:value="*{name}" id="name" name="name" placeholder="Full Name">
                <div class="text-danger">
                    <small><td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Generic Error</td></small>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" th:value="*{email}" id="emailAddress" name="email" placeholder="email@example.com">
                <div class="text-danger">
                    <small><td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Generic Error</td></small>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" th:value="*{password}" id="password" name="password" placeholder="Password">
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Generic Error</td></small>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="password">Confirm Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Confirm Password">
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Generic Error</td></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" th:value="*{address}" id="address" name="address" placeholder="Area, St., building">
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Generic Error</td></small>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" th:value="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="e.g.: 050 1234567">
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Generic Error</td></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <div class="form-group col-sm-3">
                        <!-- <script th:inline="javascript" th:src="@{../static/js/countries.js}"></script> -->
                        Select Country <select class="custom-select" th:value="*{country}" id="country" name="country"></select>
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Generic Error</td></small>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        Select City: <select class="custom-select" th:value="*{city}" name="city" id="city"></select>
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Generic Error</td></small>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    populateCountries("country", "city"); // first parameter is id of country drop-down and second parameter is id of state drop-down
                </script>
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="DoneeType"></label>
                        <div th:each="doneeType : ${T(com.foodforcharity.app.domain.constant.DoneeType).values()}">
                            <input type="radio" th:id="${{doneeType}}" th:value="${{doneeType}}" th:field="*{doneeType}" />
                            <label th:text="${{doneeType}}" th:for="${{doneeType}}">Donee Type</label>
                        </div>
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('doneeType')}" th:errors="*{doneeType}">Error</td></small>
                        </div>
                    </div>

                    <div class="form-group col-sm-3">
                        <label for="phone">Number Of Members</label>
                        <input type="text" th:value="*{numberOfMembers}" class="form-control" name="numberOfMembers" id="numberOfMembers" placeholder="Number Of Members">
                        <div class="text-danger">
                            <small><td th:if="${#fields.hasErrors('numberOfMembers')}" th:errors="*{numberOfMembers}">Error</td></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-success">Submit</button>
                <p><br> Already have an account? <a href="login.html" th:href="@{/login}">Login</a></p>
            </div>
        </form>
    </div>
</body>

</html>