<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Food for Charity</title>
</head>

<body>
    <section>
        <div layout:fragment="content" class="jumbotron content">
            <div class="container jumbotron">
                <div class="jumbotron container index-pic">
                    <div class="row">
                        <div class="col-12">
                            <h1>Food Charity Platform</h1>
                            <p>Needy people can get food here easily either for free or large discounts</p>
                            <p>&nbsp;</p>
                            <p><a class="btn btn-primary btn-lg" th:href="@{about-us}" role="button">Learn more</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>