<!doctype html>
<html>

<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css}" />
    <script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"></script>
    <link th:href="@{../css/site.css}" rel="stylesheet"></link>
    <script th:href="@{../js/modal.js}" type="text/javascript"></script>
    <script th:src="@{../js/countries.js}" type="text/javascript"></script>
</head>

<body>
    <div th:replace="fragments/header :: index-header">header</div>


    <section>
        <div layout:fragment="content"></div>
    </section>

    <div th:replace="~{fragments/footer :: footer}">footer</div>
</body>

</html>