<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <form th:action="@{/register}" th:object="${userDetails}" method="POST">
            <div class="container my-auto">
                <h1>Create an account.</h1><br>

            </div>
            <div class="container">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" th:value="*{personRole}" name="personRole" id="Donee" value="Donee"> Donee
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" th:value="*{personRole}" name="personRole" id="Donor" value="Donor"> Donor
                    </label>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><br> Full Name</label>
                <input type="text" class="form-control" th:value="*{name}" id="name" name="name" placeholder="Full Name">
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Generic Error</td>
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Email Address</label>
                <input type="email" class="form-control" th:value="*{email}" id="emailAddress" name="email" placeholder="email@example.com">
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Generic Error</td>

            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" th:value="*{password}" id="password" name="password" placeholder="Password">
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Generic Error</td>

                    </div>
                    <div class="form-group col-sm-3">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" th:value="*{password}" id="password" name="password" placeholder="Confirm Password">
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Generic Error</td>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group col-sm-3">
                        <label for="exampleInputPassword1">Address</label>
                        <input type="text" class="form-control" th:value="*{address}" id="address" name="address" placeholder="Area, St., building">
                        <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Generic Error</td>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="exampleInputPassword1">Phone Number</label>
                        <input type="text" class="form-control" th:value="*{phoneNumber}" id="phoneNumber" name="phoneNumber" placeholder="e.g.: 050 1234567">
                        <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Generic Error</td>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">

                    <div class="form-group col-sm-3">
                        <!-- <script th:inline="javascript" th:src="@{../static/js/countries.js}"></script> -->
                        Select Country <select class="custom-select" th:value="*{country}" id="country" name="country"></select>
                        <td th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Generic Error</td>

                    </div>
                    <div class="form-group col-sm-3">
                        Select City: <select class="custom-select" th:value="*{city}" name="city" id="city"></select>
                        <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Generic Error</td>
                    </div>
                </div>
                <script th:inline="javascript">
                    populateCountries("country", "city"); // first parameter is id of country drop-down and second parameter is id of state drop-down
                </script>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary">Submit</button>
                <p><br> Already have an account? <a href="login.html" th:href="@{/login}">Login</a></p>
            </div>
        </form>
    </div>
</body>

</html>