<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{donor/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit menu item</title>
</head>

<body>

    <div layout:fragment="content" class="container">
        <form th:action="@{menu}" th:object="${foodPreferences}" method="POST">
            <div class="row justify-content-center">
                <br><button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>