<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{donor/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Items</title>
</head>

<body>

    <div layout:fragment="content" class="container">

        <div class="container">
            <div th:switch="${menuModel}">
                <p class="my-5">
                    <a th:href="@{edit-menu}" class="btn btn-primary">
                        <i><span class="oi oi-menu"></span> Add Menu Item </i></a>
                </p>
                <div class="col-sm-12">
                    <h2 th:case="null">There is no food items !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md" id="main-table">
                            <thead>
                                <tr>
                                    <th>Food Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Meal for #people</th>
                                    <th>Quantity Available</th>
                                    <th>Spice Level</th>
                                    <th>Meal Type</th>
                                    <th>Cuisine</th>
                                    <th>Allergen</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="menuModel : ${menuModel}">
                                    <td th:text="${menuModel.foodName}"></td>
                                    <td th:text="${menuModel.descriptionText}"></td>
                                    <td th:text="${menuModel.originalPrice}"></td>
                                    <td th:text="${menuModel.mealForNPeople}"></td>
                                    <td th:text="${menuModel.quantityAvailable}"></td>
                                    <td th:text="${menuModel.spiceLevel}"></td>
                                    <td th:text="${menuModel.mealTypes}"></td>
                                    <td th:text="${menuModel.cuisines}"></td>
                                    <td th:text="${menuModel.allergen}"></td>

                                    <ul th:each="allergen : ${menuModel.allergen}">
                                        <li th:text="${allergen}"></li>
                                    </ul>
                                    <td>
                                        <a th:href="@{edit-menu}" class="btn btn-warning">
                                            <span class="oi oi-pencil"></span> </a>
                                    </td>
                                    <td>
                                        <a th:href="@{delete-menu-item}" class="btn btn-danger">
                                            <span class="oi oi-delete"></span> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>