<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">

<head>
    <title>Food for Charity</title>
    <link rel="stylesheet" href="../../static/css/site.css" th:href="@{/css/site.css}" />
</head>

<body>
    <div th:replace="~{fragments/header :: index-header}">Header</div>
    <div class="jumbotron main-content">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Food Charity Platform</h1>
                        <p>Needy people can get food here easily either for free or large discounts</p>
                        <p>&nbsp;</p>
                        <p><a class="btn btn-primary btn-lg" href="/about-us" role="button">Learn more</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>What do you want to do?</h3>
        <ul>
            <li><a th:href="@{/guests}">View Guests</a></li>
        </ul>
    </div>
</body>

</html>