<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{donee/layout}" lang="en">

<head>
    <title>Homepage</title>
</head>

<body>
    <section>
        <div layout:fragment="content" class="container">
            <div class="container">
                <h2>Food Available Now!</h2>
                <div class="row">
                    <div th:each="food : ${foodDto}" class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${food.name}">Product name</h5>
                                <p class="card-text" th:text="${food.price}">Price</p>
                                <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    </div>
</body>

</html>